@import "../../../styles/global/variables.scss";

$cover-spacer: 4rem;

.cover {
  .cover-bg {
    background-position: center center !important;
    background-size: cover !important;
    width: 100%;
    height: 520px;
  }

  .cover-details {
    padding: $cover-spacer;
    position: absolute;
    width: 400px;
    top: 0;
    right: $cover-spacer*1.5;
    background-color: $primary;
    color: $white;

    h2 {
      color: $white;
    }
  }

  &.dark {
    .cover-details {
      background-color: $code-dark;
    }
  }

  @include media-breakpoint-down(md) {
    .cover-details {
      width: calc(100% - 4rem);
      right: 50%;
      padding: $cover-spacer/2;
      transform: translateX(50%);
      top: 2rem;
    }
  }
}