@import "../../../styles/global/variables.scss";

.footer {
  .footer-columns {
    display: flex;
    justify-content: space-between;

    ul {
      padding-right: 1rem;

      &:last-child {
        padding-right: 0;
        padding-left: 1rem;
      }
    }
  }

  .footer-brands {
    img {
      filter: invert(100%);
      opacity: 0.5;
    }
  }

  .footer-socials {
    font-size: 1.125rem;

    a {
      margin-left: 1rem;
      color: $primary;

      .app-icon {
        color: $primary;
        transition: color $transition ease;
      }

      &:hover {
        .app-icon {
          color: $white;
        }
      }
    }
  }

  .footer-cta-container {
    border-bottom: 1px solid rgba($white, 0.15);
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }

  &-additional-links {
    a {
      color: inherit;

      &:hover {
        color: $white;
      }
    }
  }

  .footer-shape {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .footer-shape-top {
    position: absolute;
    right: 0;
    top: 0;
  }

  .footer-inner {
    position: relative;
    background-color: $dark;
    padding-top: 4rem;

    &.without-get-started {
      padding-top: 6rem;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background: url(../../../assets/img/shape-nav.svg);
      background-position: center center;
    }
  }

  &-bottom {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    border-top: 1px solid rgba($cover-adv, 0.1);
  }

  &-bottom-link {
    color: $gray;
    font-size: 0.875rem;
    margin-left: 2rem;

    &:hover {
      color: $white;
    }
  }

  .footer-list {
    padding: 0;
    margin: 0;
    list-style: none;

    p {
      max-width: 240px;
    }

    li {
      line-height: 2em;
      color: $white;
      font-size: 0.875rem;

      a,
      span {
        color: $gray;
        transition: color $transition ease;

        &:hover {
          color: $white;
        }
      }
    }

    a {
      line-height: 2em;
    }
  }

  @include media-breakpoint-down(md) {

    .footer-list {

      &.w-md-100 {
        p {
          max-width: 100%;
        }
      }
    }

    .subscribe {
      border-top: 1px solid rgba($border-color, 0.1);
      padding-top: 2rem;
    }

    .footer-inner {
      &.without-get-started {
        padding-top: 3rem;
      }
    }

    .footer-socials {
      a {
        margin: 0 0.5rem;
      }
    }

    &-bottom-link {
      margin: 0 1rem;
    }
   
    .footer-columns {
      flex-wrap: wrap;
      justify-content: flex-start;

      ul {
        width: 33.33%;
        padding-right: 0;

        &:last-child {
          padding-left: 0;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .footer-columns {
      ul {
        width: 50%;

        &:last-child {
          padding-left: 0;
        }
      }
    }
  }
}
