@import "../global/variables.scss";

body, html{
  *::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}