@import "../../../styles/global/variables.scss";

.blog-post {


}

.blog-content {
  padding: 4rem 0;

  p {
    font-size: 1.375rem;

    strong {
      font-weight: 400;
      color: $dark;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 1.625rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  @include media-breakpoint-down(lg) {
    p {
      font-size: 1rem;
    }
  
    h3 {
      font-size: 1.125rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
}
