@import "../../../styles/global/variables.scss";

.select{
  border: 1px solid $border-color;
  padding-bottom: 0.3rem;
  font-size: 1.125rem;
  color: $black;
  position: relative;

  .select-additiona-label {
    position: absolute;
    right: 2.4rem;
    bottom: 0.875rem;
    font-size: 0.875rem;
    color: $dark;
    z-index: 1;
  }

  &.select-small-text {
    font-size: 0.875rem;
    color: $dark;

    .acr-select-c__menu-list {
      font-size: 0.875rem;
    }
  }

  &.label-uppercase {
    label {
      color: $darker;
      margin-bottom: 0.5rem;
      font-size: 0.75rem;
      letter-spacing: 0.164rem;
      text-transform: uppercase;
    }
  }

  &.input-spacing {
    padding-bottom: 0;
  }

  &.bottom {
    border: none;
    border-bottom: 1px solid $border-color;
  }

  &.select-small {
    .acr-select-c__menu {
      width: auto;
      min-width: 100%;
    }
    .acr-select-c__menu-list {
      width: auto;
      white-space: nowrap;
      font-size: 0.875rem;
    }

    .acr-select-c__option {
      width: auto;
    }
  }

  &.simple {
    border: none;

    .acr-select-c__control {
      .acr-select-c__indicators {
        margin-top: 0;

        .acr-select-c__indicator {
          color: rgba($dark, 0.5);
          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  &.simple-border-bottom {
    border: none;
    border-bottom: 1px solid $border-color;

    .acr-select-c__control {
      .acr-select-c__indicators {
        margin-top: 0;

        .acr-select-c__indicator {
          color: rgba($dark, 0.5);
          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  label {
    font-size: 0.75rem;
    color: $gray;
    margin-bottom: 0;
    padding-left: 0.8rem;
    line-height: 1;
    position: relative;
    z-index: 1;
    pointer-events: none;
    transform: translateY(0.5rem);
  }

  .acr-select-c__control {
    .acr-select-c__indicators {
      margin-top: -1.2rem;
      background-color: transparent;
  
      .acr-select-c__indicator {
        color: $primary;
        transform-origin: center center;
        transition: transform $transition ease;
      }
    }

    &.acr-select-c__control--menu-is-open {
      .acr-select-c__indicators {
        .acr-select-c__indicator {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .acr-select-c__value-container {
    padding-top: 0;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .acr-select-c__single-value {
    display: flex;
    align-items: center;

    .app-icon {
      font-size: 1rem;
    }

    >* {
      display: flex;
      align-items: center;
    }
  }

  .acr-select-c__control {
    border-radius: 0;
    border-color: transparent;
    outline: none;
    box-shadow: none;

    &:hover {
      border-color: transparent;
      outline: none;
      box-shadow: none;
    }
  }

  .acr-select-c__indicator-separator {
    display: none;
  }

  .acr-select-c__menu {
    z-index: 2;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: $shadow-4;

    .exclude, .primary {
      background-color: $primary !important;
      color: $white;
      cursor: pointer;

      .app-icon {
        color: $white;
        font-size: 0.875rem;
        margin-right: 0.5rem;
      }
    }
  }

  .acr-select-c__menu-list::-webkit-scrollbar {
    display: block;
    width: 3px;
    height: 0px;
  }
  .acr-select-c__menu-list::-webkit-scrollbar-track {
    background: $cover-2;
  }
  .acr-select-c__menu-list::-webkit-scrollbar-thumb {
    background: $primary;
  }
  .acr-select-c__menu-list::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }

  .acr-select-c__menu-list {
    padding: 0;
    border:none;
    box-shadow: none;
    font-size: 1rem;
  }

  .acr-select-c__option {
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;

    .app-icon {
      font-size: 1rem;
    }

    >* {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-height: 800px) {
    font-size: 1rem;

    &.input-spacing {
      padding-bottom: 0.2rem;
    }

    .acr-select-c__option {
      padding: 0.4rem 1.5rem;
    }
  }

  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }

}
