@import "../../../styles/global/variables.scss";

.home-hero {
  width: 100%;
  display: flex;
  align-items: center;

  .icon-error {
    right: 1rem;
  }

  .is-invalid {
    input{
      border-color: $error;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}