@import "../../../styles/global/variables.scss";

.parser {
  .parser-sidebar {
    background-color: $white;
    padding: 2rem 0;
    box-shadow: 0px 28px 45px rgba(109, 111, 113, 0.1);
  }

  .parser-content {
    width: 100%;
    height: 100%;
    border: 1px solid $border-color;
    position: relative;

    .parser-content-code {
      .react-json-view {
        font-family: $font-family-base !important;

        .object-content {
          > .object-key-val {
            > span {
              * {
                color: $body-color !important;
                font-weight: 400 !important;
              }
            }
          }
        }

        .object-key {
          color: $danger !important;
        }
        .variable-value {
          .string-value {
            color: $body-color !important;
          }
        }
        .object-key-val {
          > span {
            &:first-child {
              > span {
                > * {
                  &:nth-child(1) {
                    display: none !important;
                  }
                  &:nth-child(2) {
                    display: none !important;
                  }
                }
              }
            }
          }
        }
      }
    }

    .fade {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      padding: $section-spacer/2;

      &.show {
        pointer-events: all;
      }
    }

    .parser-content-inner {
      display: flex;
      flex-direction: column;

      section {
        height: 100%;
      }

      .parser-content-code {
        border-top: 1px solid $border-color;
        height: 100%;
        padding: 2rem 0;
      }
    }
  }

  .parser-sidebar-item {
    padding: 1rem 3rem;
    cursor: pointer;
    transition: all $transition ease;
    position: relative;

    &.coming {
      pointer-events: none;
      position: relative;

      &::before {
        content: "Coming";
        display: inline-block;
        position: absolute;
        background-color: $gray;
        top: 1.4rem;
        right: 1rem;
        padding: 0.3rem 0.8rem;
        font-size: 0.6875rem;
        color: $white;
      }

      .parser-sidebar-item-content {
        opacity: 0.5;
      }
    }

    .parser-sidebar-item-content {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $primary;
      transform-origin: center left;
      transition: all $transition * 2 $transition-timing;
      transform: scaleX(0);
    }

    > * {
      > * {
        > * {
          transition: color $transition ease;
        }
      }
    }

    &:hover {
      &::after {
        transform: scaleX(0.05);
      }
    }

    &.active {
      &::after {
        transform: scaleX(1);
      }
      > * {
        > * {
          > * {
            color: $white !important;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .parser-sidebar-item {
      &:hover {
        &::after {
          transform: scaleX(0);
        }
      }
      &.active {
        &::after {
          transform: scaleX(1);
        }
      }
    }

    .parser-content {
      height: 70vh;
      margin-top: 2rem;

      &.in-collapse {
        height: auto;
        margin: 0;
        border: none;

        .parser-content-code {
          max-height: 80vh;

          .react-json-view {
            .object-content {
              > .object-key-val {
                > span {
                  * {
                    font-size: 0.8125rem !important;
                  }
                }
              }
            }

            .object-key {
              font-size: 0.8125rem !important;
            }
            .variable-value {
              .string-value {
                font-size: 0.8125rem !important;
              }
            }
          }
        }

        .parser-content-inner {
          padding: 1rem;
          background-color: $light;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .parser-sidebar {
      padding: 0;
    }
    .parser-sidebar-item {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $border-color;

      &.coming {
        &::before {
          top: 1rem;
        }
      }

      .text-medium {
        font-size: 1rem;
      }
    }
    .parser-content {
      height: 100vh;
      margin-top: 2rem;

      .fade {
        padding: 1rem;
      }
    }
  }
}
